*{
    background-color: #F2F2F2;
}

body {
    overflow-x: hidden;
    font-family: Sans-Serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .menu-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: #F2F2F2;
    color: black;
    padding: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
  }
  
  .menu-logo {
    line-height: 0;
    margin: 0 20px;
  }
  
  .menu-logo img {
    max-height: 40px;
    max-width: 100px;
    flex-shrink: 0;
  }
  
  .menu-container a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;
  }
  
  .menu-container a:hover {
    color: #116dca;
  }
  
  .menu-container input {
    display: block;
    width: 35px;
    height: 25px;
    margin: 0;
    position: absolute;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  
  /* Burger menu */
  .menu-container span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #000000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  .menu-container span:first-child {
    transform-origin: 0% 0%;
  }
  
  .menu-container span:nth-child(3) {
    transform-origin: 0% 100%;
  }
  
  .menu-container input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(3px,-1px);
    background: #090909;
  }
  
  .menu-container input:checked ~ span:nth-child(4) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  .menu-container input:checked ~ span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px,11px);
  }
  
  .menu ul {
    list-style: none;
  }
  
  .menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  
  /* mobile styles */
  @media only screen and (max-width: 767px) { 
    .menu-container {
      flex-direction: column;
      align-items: flex-end;
    }
    
    .menu-logo {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  
    .menu-logo img {
      max-height: 30px;
    }
  
    .menu {
      overflow-x: hidden;
      position: absolute;
      box-sizing: border-box;
      width: 300px;
      right: -300px;
      top: 0;
      margin: -20px;
      padding: 75px 50px 50px;
      background: #F2F2F2;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */
      transform-origin: 0% 0%;
      transform: translateX(0%);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
  
    .menu-container input:checked ~ .menu {
      transform: translateX(-100%);
    }
  }
  
 

  /* desktop styles */
  @media only screen and (min-width: 768px) { 
    .menu-container {
      width: 100%;
    }
  
    .menu-container a {
      color: #dedede;
    }
  
    .menu-container input {
      display: none;
    }
  
    /* Burger menu */
    .menu-container span {
      display: none;
    }
  
    .menu {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  
    .menu ul {
      display: flex;
      padding: 0;
    }
  
    .menu li {
      padding: 0 20px;
    }
  }


.section {
    width: 100%;
    text-align: center;
}

.cuadro {
  
  margin: 0 auto; 
  
}

.img_cuadro{

  height: auto;
  width: 100%;

}

@media screen and (max-width: 600px) {
  .cuadro {
      max-width: 100%;
  }
}

.contenedor {
  display: flex;
  justify-content: space-between; /* Distribuir los elementos de manera uniforme */
  align-items: center; /* Centrar verticalmente los elementos */
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan a medida que se reduce el tamaño de la pantalla */
}

.cuadritos {
  flex: 0 0 calc(33.33% - 20px); /* Ajustar el tamaño de cada cuadro para que haya tres en una fila, con márgenes entre ellos */
  margin-bottom: 20px; /* Espacio entre los cuadros */
  overflow: hidden; /* Evitar que las imágenes se salgan de los cuadros */
}

.cuadritos img {
  width: 100%;
  height: auto; /* Ajustar la altura automáticamente según el ancho para mantener la proporción */
  max-height: 300px; /* Establecer una altura máxima para las imágenes */
  object-fit: cover;
  object-position: bottom;
}

.container {
  width: 80%;
  margin: 0 auto;
}

footer {
  background-color: #fff;
  color: #333;
  padding: 50px 0;
  border-top: 1px solid #ccc;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  max-width: 100%;
  height: auto;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.footer-links li {
  margin-right: 20px;
}

.footer-links a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #FF3366;
}

.footer-social a img {
  max-width: 30px;
  height: auto;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.footer-social a:hover img {
  transform: scale(1.2);
}