.navegacion {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}
.imglogoindex{
    width: 30%;
    height: auto;
}
.containern{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.containern:hover{
    background-color: rgba(88, 151, 165, 0.947);
}

.principal {
    display: grid;
    grid-template-columns: 1fr;
    width: 90rem;
    justify-content: center;
    border: 2px solid rgba(83, 82, 82, 0.616);
    background-color: white;
    margin: auto;
    padding: 50px;

}

.clases {
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(83, 82, 82, 0.616);

}

.clasessecu {
    display: flex;
    flex-direction: row;
    justify-content: center;

}


.imgclases {
    width: 400px;
    transition: all 0.3s ease-in-out;

}

.imgclases:hover {
    border: 1px solid #7df0e350;
    border-radius: 5px;
    transform: scale(1.1);
}

.txt {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    background-color: #B6BABE;
    padding: 10px;
    margin: 0;
}

.nav {
    background-color: #000008;
}

.nav__container {

    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
}

.nav__menu {
    display: none;
}

.dropdown {
    display: none;
}

.nav__title {
    display: none;
}


@media screen and (max-width: 800px) {

    .containern {
        display: none;
    }

    .nav {
        background-color: rgb(255, 255, 255);

        --img1: scale(1);
        --img2: scale(0);
    }

    .nav:has(.dropdown:target) {
        --img1: scale(0);
        --img2: scale(1);

        --clip: inset(0 0 0 0);

    }

    .nav__container {
        z-index: 20;
        width: 90%;
        margin: 0 auto;
        height: 70px;

        display: grid;

        grid-template-areas: "title img";
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }

    .nav__title {
        display: block;
        color: black;
        grid-area: title;
    }


    .nav__menu {
        display: block;
        grid-area: img;
        position: relative;
        z-index: 10;

        transform: var(--img1);
    }

    .nav__menu--second {
        transform: var(--img2);
    }

    .nav__icon {
        width: 30px;
        display: block;
    }

    .dropdown {
        margin: 0 auto;
        position: absolute;
        background-color: #0b0b0cd4;
        width: 75%;
        max-width: 300px;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 1em;

        display: grid;
        align-content: center;
        gap: 1rem;

        overflow-y: auto;


        clip-path: var(--clip, inset(0 0 100% 100%));
        transition: clip-path .5s;
    }

    .dropdown__list {
        list-style: none;
    }

    .dropdown__link {
        color: rgb(184, 187, 191);
        padding: 1em .7em;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: .6rem;
        position: relative;
        background-color: var(--bg, transparent);
        border-radius: 6px;
    }

    .dropdown__list:has( :checked) {
        --rows: 1fr;
        --rotate: rotate(180deg);
        --bg: #28303B;
    }

    .dropdown__check {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

    .dropdown__arrow {
        margin-left: auto;
        transform: var(--rotate, 0);
        transition: .2s transform;
    }

    .dropdown__content {
        display: grid;
        grid-template-rows: var(--rows, 0fr);
        transition: .3s grid-template-rows;
    }

    .dropdown__sub {
        overflow: hidden;

    }

    .dropdown__li {
        width: 85%;
        list-style: none;
        margin-left: auto;
    }

    .dropdown__anchor {
        padding: 1em 0;
        display: block;
        color: #B6BABE;
        text-decoration: none;
    }
}